<% include top.ejs %>

<div id="page-list" class="page">
	<div id="refcode">
		<div>您的推广优惠码</div>
		<div id="ref"></div>
	</div>
	<div id="coupon-list" class="panel"></div>
	<div id="addnew">
		<div class="ventry">
			<input id="code" class="entry-main" placeholder="优惠码" maxlength="10">
			<div id="btn-redeem" class="btn orange">兑</div>
		</div>
	</div>
</div>

<% include bottom.ejs %>
