<% include top.ejs %>
<script>var prefix='<%=config.wx.prefix%>';</script>
<div id="page-orders" class="page">
	<div id="order-list" class="panel">
		<div id="noorder" class="entry content">
这里还没有订单呢
		</div>
	</div>
</div>

<% include bottom.ejs %>
