<% include top.ejs %>

<div id="group" class="panel">
	<div class="entry">
		<span id="icon-src" class="icon-addon"></span>
		<input id="src" class="entry-main" placeholder="出发地">
	</div>
	<div class="entry">
		<span id="icon-dest" class="icon-addon"></span>
		<input id="dest" class="entry-main" placeholder="目的地">
	</div>
	<div class="large-btns">
		<button id="btn-submit" class="btn orange large margin top">提交需求</button>
	</div>
	
</div>

<% include bottom.ejs %>
