.myButton {
    float: left;
    background-color: #1ABC9C;
    min-width: 100px;
    margin-right: 20px;
}
.inputLocation {
    float: left;
    width: 300px;
    margin-right: 20px;
}
.inputLat, .inputLng {
    float: left;
    width: 100px;
    margin-right: 20px;
}
.btnSubmit {
    width: 70px;
    background-color: #F1C40F;
    margin-left: 30px;
}
.choiceGroup {
    margin-top: 20px;
    padding: 10px;
    max-width: 40%;
    border: solid 1px #727272;
    box-shadow: 2px 2px 10px #888888;
    margin-bottom: 20px;
}
.choiceGroup > span {
    display: inline-block;
    padding: 5px;
}
.choiceGroup > span:hover {
    cursor: pointer;
    color: #428bca;
}
.carItem {
    margin-left: 10px;
}
.row {
    margin-bottom: 10px;
}

.inputTime {
    height: 30px;
}

/* publish route */
.myTextarea {
    width: 30%;
}

/* schedule list page */
.scheduleList {
    margin-top: 10px;
    width: 800px;
    height: 180px;
    /*border: solid 1px black;*/
    /*background-color: #f9f9f9;*/
    /*box-shadow: 1px 1px 1px black;*/
}
.scheduleList-1, .scheduleList-2, .scheduleList-3 {
    display: inline-block;
    float: left;
    width: 20%;
    height: 100%;
    /*border: solid 1px blue;*/
    padding-left: 2px;
}
.scheduleInput {
    width: 100px;
    border: 0;
    background-color: #ccffff;
}
.scheduleInput:hover {
    cursor: pointer;
}
.scheduleBtn {
    margin: 5px;
}