<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  
    <title>订单管理</title>
  
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheets/console.css">
    <link rel="stylesheet" href="/stylesheets/consoleOrder.css">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand" style="color: white"> Jike 后台管理 </span>
          <ul class="nav navbar-nav mynav">
            <li><a href="/admin/consoleRoute.html">路线</a></li>
            <li><a href="/admin/consoleUser.html">用户</a></li>
            <li><a href="/admin/consoleCoupon.html">优惠券</a></li>
            <li><a href="/admin/consoleCar.html">车辆</a></li>
            <li><a href="/admin/consoleAgent.html">代理</a></li>
            <li class="active"><a href="/admin/consoleOrder.html">订单</a></li>
            <li><a href="/admin/consoleLocation.html">地点</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row" ng-controller="PageController">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ng-class="{'active': page.pageName=='ViewOrder'}">
              <a href="##" ng-click="switchPage('ViewOrder')">查看订单</a>
            </li>
            <li ng-class="{'active': page.pageName=='PayOrder'}">
              <a href="##" ng-click="switchPage('PayOrder')">人工付款</a>
            </li>
            <li ng-class="{'active': page.pageName=='TransactionQuery'}">
              <a href="##" ng-click="switchPage('TransactionQuery')">退款和取款</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- view order page -->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="ViewOrder">
        <div ng-show="page.pageName=='ViewOrder'">
          <div class="chooseTime">
            <div class="input-group datetime">
              开始时间：
              <input class="inputTime" datetime-picker is-open="iTime.time0" ng-click="showTime('time0')" ng-model="order.startTime" ng-change="checkek()">
            </div>
            <div class="input-group datetime">
              结束时间：
              <input class="inputTime" datetime-picker is-open="iTime.time1" ng-click="showTime('time1')" ng-model="order.endTime" ng-change="checked()">
            </div>
            <button ng-click="checked()">确定</button>
            <button ng-click="export()">导出excel文件</button>
          </div>
          </br>
          <div class="table-responsive">
            <table class="table table-striped table-condensed table-bordered">
              <thead>
                <tr>
                  <th>下单时间</th>
                  <th>订单编号</th>
                  <th>用户名</th>
                  <th>优惠前价格</th>
                  <th>优惠后价格</th>
                  <th>订单状态</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat = 'item in orders track by $index'>
                  <td>{{item.createdAt}}</td>
                  <td>{{item.orderNumber}}</td>
                  <td>{{item.user.name}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.priceToPay}}</td>
                  <td>{{item.state}}</td>
                </tr>
              </tbody>
            </table>
          </div> <!-- end of order table -->
          <nav>
            <ul class="pagination">
              <li ng-repeat="item in orderPages track by $index" ng-class="{active: $index == pageIndex}"><a href="##" ng-click="switchOrderPage($index)">{{item}}</a></li>
            </ul>
          </nav> <!-- end of pigination -->
        </div>
      </div> <!-- end of view agent page -->

      <!-- pay order page -->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="PayOrder">
        <div ng-if="page.pageName=='PayOrder'">
          <div class="form-group">
            <label class="control-label">需要付款的订单号：</label>
            <input type="text" class="form-control inputOrderNumber" ng-model="order.orderNumber" ng-change="orderNumberChange()"></input>
          </div>
          <button type="button" class="btn btn-primary" ng-click="search()">搜索</button>
          <p><span class="error" ng-if="err==1">{{errorInfo}}</span></p>
          <div ng-if="step==1">
            <p><span class="tip">下单时间：</span>{{order.createdAt}}<p>
            <p><span class="tip">订单编号：</span>{{order.orderNumber}}<p>
            <p><span class="tip">用户名：</span>{{order.user.name}}<p>
            <p><span class="tip">乘客数：</span>{{order.passengers.length}}<p>
            <p><span class="tip">优惠前价格：</span>{{order.price}}<p>
            <p><span class="tip">优惠后价格：</span>{{order.priceToPay}}<p>
            <p><span class="tip">订单状态：</span>{{order.state}}<p>
            </br>
            <div class="form-group">
              <label class="control-label">确认无误后，填写支付宝交易号：</label>
              <input type="text" class="form-control" ng-model="order.otherId"></input>
            </div>
            <button type="button" class="btn btn-primary" ng-click="payOrder()">确认信息无误，点击购票</button>
          </div>
        </div>
      </div> <!-- end of pay order page -->

      <!-- view refund page -->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="TransactionQuery">
        <div ng-if="page.pageName=='TransactionQuery'">
          <div class="table-responsive">
            <table class="table table-striped table-condensed table-bordered">
              <thead>
                <tr>
                  <th>类型</th>
                  <th>状态</th>
                  <th>用户名</th>
                  <th>手机号</th>
                  <th>金额</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in transactionQuerys track by $index">
                  <td>{{item.type}}</td>
                  <td>{{item.state}}</td>
                  <td>{{item.user.name}}</td>
                  <td>{{item.user.phone}}</td>
                  <td>{{item.amount}}</td>
                  <td>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default" ng-click="check($index)" ng-disabled="item.state=='pending'">确认退款（双击）</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> <!-- end of view refund page -->

    </div>
  </body>


  <script src="/javascript/angular.min.js"></script>
  <script src="/javascript/ui-bootstrap-tpls-0.13.4.min.js"></script>
  <script src="/javascript/datetime-picker.js"></script>
  <script src="/javascript/consoleOrder.js"></script>
</html>
