<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title> 地点管理 </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheets/console.css">
    <link rel="stylesheet" href="/stylesheets/consoleLocation.css">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand" style="color: white"> Jike 后台管理 </span>
          <ul class="nav navbar-nav mynav">
            <li><a href="/admin/consoleRoute.html">路线</a></li>
            <li><a href="/admin/consoleUser.html">用户</a></li>
            <li><a href="/admin/consoleCoupon.html">优惠券</a></li>
            <li><a href="/admin/consoleCar.html">车辆</a></li>
            <li><a href="/admin/consoleOrder.html">订单</a></li>
            <li class="active"><a href="/admin/consoleLocation.html">地点</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row" ng-controller="PageController">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ng-class="{'active': page.pageName=='ViewLocation'}">
              <a href="##" ng-click="switchPage('ViewLocation')">查看地点</a>
            </li>
            <li ng-class="{'active': page.pageName=='AddLocation'}">
              <a href="##" ng-click="switchPage('AddLocation')">添加地点</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- view college page -->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="ViewLocation">
        <div ng-if="page.pageName=='ViewLocation'">
          <div class="table-responsive">
            <table class="table table-striped table-condensed table-bordered">
              <thead>
                <tr>
                  <th>地名</th>
                  <th>经度</th>
                  <th>纬度</th>
                  <th>操作</th>
                </tr>
              </thead>
                <tr ng-repeat = 'item in locations track by $index'>
                  <td>{{item.name}}</td>
                  <td>{{item.lat}}</td>
                  <td>{{item.lng}}</td>
                  <td>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default" ng-click="delete($index)">删除</button>
                    </div>
                  </td>
                </tr>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- add location -->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="AddLocation">
        <div ng-if="page.pageName=='AddLocation'">
          <div class="row">
            <p class="tip">注意：若地点是浙江省宁波市，请在最后一个空格填“宁波市”，如果是大学就填大学名称</p>
            <button class="btn myButton" ng-click="showProvince()"><span>{{province.name}}</span><span class="caret"></span></button>
            <button class="btn myButton" ng-click="showCity()"><span>{{city.name}}</span><span class="caret"></span></button>
            <input class="form-control inputLocation" type="text" ng-model="location.name">
            <input class="form-control inputLat" type="number" ng-model="location.lat" placeholder="经度">
            <input class="form-control inputLng" type="number" ng-model="location.lng" placeholder="纬度">
            <button class="btn btnSubmit" ng-click="submit()">提交</button>
          </div>
          <div class="row choiceGroup">
            <span ng-repeat="item in itemArray" ng-click="itemClick(this)">{{item.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </body>


  <script src="/javascript/angular.min.js"></script>
  <script src="/javascript/consoleLocation.js"></script>
</html>
